body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundChange 12s infinite;
}

@keyframes backgroundChange {
    0% {
        background-color: #ff9a9e; /* Light Pink */
    }
    25% {
        background-color: #fad0c4; /* Light Orange */
    }
    50% {
        background-color: #fbc2eb; /* Light Purple */
    }
    75% {
        background-color: #a1c4fd; /* Light Blue */
    }
    100% {
        background-color: #ff9a9e; /* Back to Light Pink */
    }
}

.meme-generator {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.meme-generator img {
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #322;
    margin: 24px 0;
    font-size: 20px;
    color: crimson;
    background: #fff;
    cursor: pointer;
    transition: all 400ms;
}

.generate-meme-btn:hover {
    color: darkseagreen;
    padding: 8px 36px;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 2px;
}

.meme-author {
    margin: 8px;
}
